#waybar {
    color: #e9e9e9;
    font-family: "Fira Code", "JetBrains Mono", monospace;
    font-size: 15px;
    background-color: transparent;
}
#waybar > box {
    margin: 8px 8px 8px 8px;
    background-color:#1E1E2E;; 
    box-shadow: 0 0 3 1px #151515;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 15px;
}
#workspaces,
#window,
#clock,
#pulseaudio,
#network,
#battery,
#tray,
#custom-notification,
#cpu,
#memory,
#temperature,
#custom-nvidia_temp,
#backlight,
#idle_inhibitor,
#mpd,
#taskbar,
#custom-power,
#custom-archicon,
#language,
#power-profiles-daemon,
#custom-rofi-main-menu {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 900;
    padding: 0 10px;
    margin: 0 0px;
    border-radius: 15px;
  }
#custom-rofi-main-menu{
	font-size: 22px;
	background-color: #7899FA;
	color:rgb(45, 34, 56);
	padding: 0 18px 0 10px;
}
#custom-archicon{
    font-size: 22px;
    color: #7899FA;
    padding: 0 18px 0 10px;
}
#workspaces button {
    padding: 0 8px;
    color: #cdd6f4;
    border-radius: 8px;
    margin: 3px 0;
}

#tray {
    padding: 0 8px;
}

@keyframes blink {
    to {
        background-color: rgba(243, 139, 168, 0.3);
    }
}

#pulseaudio:hover,
#network:hover,
#clock:hover {
    background-color: rgba(49, 50, 68, 0.8);
}
#workspaces button,
#pulseaudio,
#network,
#clock,
#tray {
    transition: background-color 0.2s ease-in-out;
}
