#waybar {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 900;
    font-size: 15px;
    background-color:#1E1E2E;
    color: #CDD6F4;
}

.modules-left *, .modules-center *, .modules-right *{
    padding: 0 5px;
    margin: 0;
}

#pulseaudio{
	margin: 0px 10px
}

#cpu{
    color: #BDD520;
	margin: 0px 0px 0px 15px;
}
#memory{
    color: #5436FF;
}
#temperature.cpu{
    color: #8AE4FF;
}
#temperature.gpu{
	color: #7DFDA5;
	margin: 0px 15px 0px 0px;
}
#battery{
}

#tray{
	margin: 0px 10px;
}

#custom-fuzzel-menu{
	font-size: 22px;
	background-color: #7899FA;
	color:rgb(45, 34, 56);
	padding: 0 18px 0 10px;
	margin: 0px 0px 0px 0px;
}
#custom-archicon{
    font-size: 22px;
    color: #7899FA;
    padding: 0 18px 0 10px;
}


#workspaces button {
    color: #cdd6f4;
    padding: 0px 0px;
    margin: 0px 0;
}
#workspaces button.active {
    color: #7899FA;
}
#workspaces button.urgent {
    color: rgba(237, 135, 150, 0.7);
}
